<h1>学習記録を編集</h1>

<div class="study-log">
  <%= render "form", study_log: @study_log %>

  <div style="margin-top: 1.5rem;">
    <%= link_to "一覧に戻る",
                study_logs_path,
                class: "btn btn-back" %>
  </div>
</div>
