<h1>学習記録 新規投稿</h1>

<div class="form-wrapper">
  <div class="study-log">
    <%= render 'form', study_log: @study_log %>

    <div style="margin-top: 16px;">
      <%= link_to '一覧に戻る', study_logs_path, class: 'btn btn-back' %>
    </div>
  </div>
</div>
