<div class="container">
  <div class="study-log">

    <h1>📘 学習記録アプリの使い方</h1>

    <p>
      このアプリでは、1日1件だけサクッと学習記録を残すことができます。<br>
      毎日の学びを簡単に振り返って、過去の自分の行動を見える化しましょう。
    </p>

    <h2>手順</h2>
    <ol>
      <li>新規登録でアカウントを作成しましょう</li>
      <li>学習記録一覧ページでは新規の投稿や習慣の振り返りを見ることができます。</li>
      <li>まずは新規投稿を押してみましょう！</li>
      <li>自由気ままに入力し、カテゴリを選択したら投稿するだけ！</li>
      <li>習慣の振り返りページでは過去の投稿を振り返ることができます。</li>
      <li>完了ボタンを押すことで右上のベルマークに通知が届きます！</li>
      </ol>

    <p>※毎日いろいろ入力する必要はありません。1件だけで十分です。</p>
    <p>誰かの評価を求める必要はない。</p>
    <p>あなた自身の目で、自分の歩みを振り返るだけで、既に十分に尊い存在なのだ。</p>
    <hr style="margin: 24px 0;">

    <div style="text-align:center;">
      <%= link_to "プライバシーポリシー", privacy_policy_path %>
      <%= link_to "利用規約", terms_path %>
    </div>

  </div>
</div>
