<h1>学習記録アプリ</h1>

<% if user_signed_in? %>
  <p>ログイン中</p>

  <%= link_to '学習記録一覧へ', study_logs_path %>
  <br><br>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %>
  <br>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
