<p><%= @resource.email %> さん、こんにちは。</p>
<p>下のリンクからパスワードを再設定してください：</p>
<p>
  <a href="<%= edit_user_password_url(@resource, reset_password_token: @token) %>">
    パスワードを再設定する
  </a>
</p>
<p>もしこのメールに覚えがない場合は、無視してください。</p>
